<div class="landing-container p-grid p-align-center p-justify-center">
    <div class="left-section p-col-12 p-md-6 p-lg-8">
      
      <h1 class="landing-title">Bienvenido al Herbario Virtual</h1>
      <p class="landing-description">
        Explora una vasta colección de especies, aprende sobre la flora y registra tus propios descubrimientos. 
        Nuestra plataforma te permite gestionar y visualizar especies con facilidad.
      </p>
      
    </div>
    <div class="right-section p-col-12 p-md-4">
      <app-login></app-login>
    </div>
    
    <div class="highlight-banner">
        ¡Únete a la comunidad de exploradores de la flora!
      </div>
  </div>
  