.layout-wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
  
  .layout-sidebar {
    width: 250px;
    background-color: #6B8E23;
    color: #fff;
    padding: 1rem;
  }
  
  .layout-main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .layout-main {
    flex: 1;
    padding: 2rem;
  }
  
  .topbar {
    background-color: #A9BA9D;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
  }
  
  .footer {
    background-color: #8B4513;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  